ul{
    list-style: none;
}

.attention{
    background-color: #FFF;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.title_1{
    font-weight: bold;
    margin-bottom: 1rem;
}

.banner h1{
    text-shadow: 1px 1px 2px #000;
}

.banner h1:hover{
    color:#f3c500 ;
    text-shadow: 1px 1px 2px #000;
}

.banner p{
    text-shadow: 1px 1px 2px #000;
}

.banner p:hover{
    color:#01a185;
    text-shadow: 1px 1px 2px #000;
}

.result{
    background-color: #01a185;
    padding: 2rem;
}

.result-content:hover{
    background-color:#f3c500;
}

.overview-content:hover{
    background-color:#fff;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.tag {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  margin: 2px;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #01a185;
}
  
.tag:before {
    position: absolute;
    top: calc(50% - 7px);
    left: 10px;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 50%;
    background: #fff;
}
